@{
    
}

<div class="row container">
    <div class="col-md-3">
        <a href="component.html" class="btn btn-outline-dark">Component challenge</a>
    </div>
    <div class="col-md-3">
        <a href="date-format.html" class="btn btn-outline-dark">Date format challenge</a>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Cache challenge</h5>
            </div>
            <div class="card-body">
                <p>In the <b>Component challenge</b> a local cache is available on image requests.</p>
                <p> The cache is implemented in SimpleJsonRequest.cs file and hold information for 2 minutes</p>
            </div>
        </div>
    </div>
</div>